# ===== Python =====
__pycache__/
*.pyc

# ===== DeepMIMO Dataset =====
deepmimo_scenarios/*
!deepmimo_scenarios/.gitkeep

*.mat
*.h5
*.npz
*.npy

# ===== Experiment Outputs =====
results/
outputs/
logs/
figures/

# ===== IDE / OS =====
.vscode/
.idea/
.DS_Store
Thumbs.db
